body {
  margin: 0;
  text-align: center;
  font-family: "Merriweather", Helvetica, Arial, sans-serif;
  background-color: #EAEAEA;
}

h1 {
  font-family: "Dancing Script", Helvetica, Arial, sans-serif;
  font-size: 570.5%;
  margin-top: 50;
  color: #6A2C70;
}

h2 {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  color: #0D7377;
  font-size: 2.5rem;
}

h3 {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  color: CornflowerBlue;
}
h4 {
  font-family: "Georgia", Helvetica, Arial, sans-serif;
  font-size: 150%;
  color: #6A2C70;
}
h5 {
  font-family: "Georgia", Helvetica, Arial, sans-serif;
  font-size: 160%;
  color: charcoal;
}
.top-container {
  /*width: 200px;*/
  /*height: 200px;*/
  background-color: #E4F9F5;
  /*border: solid 10px;
  padding: 20px;*/
  position: relative;
  padding-top: 10px;
}

.middle-container {
  /*border: solid 20px;*/
  /*margin-left:260px;*/
}

.bottom-container {
  /*border: solid 10px;
  margin-left:260px;*/
}

p {
  background-color:
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.skill_row {
  width: 50%;
  margin: 100px auto 100px auto;
  line-height: 2;
}

/*
.code-img{
  float: left;
}
.data-img{
  float: left;
}
*/
